<div *ngFor="let dato of datos">

  <h1> {{dato.name}} </h1>
  <div class="contenedorPrincipal">
    <div class="cajaPersonaje">
      <img class="personajeEntero" src="{{personajeSolo.image}}" alt="dibujo {{dato.name}}">
    </div>
    <div class="datosCaja">
      <div>
        <p class="encabezadoDatos">Nombre</p>
        <p class="datosFinal"> {{personajeSolo.name}} </p>
      </div>

      <div>
        <p class="encabezadoDatos">Ki</p>
        <p class="datosFinal"> {{personajeSolo.ki}} </p>   
      </div>

      <div>
        <p class="encabezadoDatos">maximo Ki</p>
        <p class="datosFinal"> {{dato.maxKi}} </p>
      </div>

      <div>
        <p class="encabezadoDatos">Raza</p>
        <p class="datosFinal"> {{dato.race}} </p>
      </div>

      <div>
        <p class="encabezadoDatos">sexo</p>
        <p class="datosFinal"> {{dato.gender}} </p>
      </div>

      <div>
        <p class="encabezadoDatos">Descripcion</p>
        <p class="datosFinal"> {{dato.description}} </p>
      </div>

      <div>
        <p class="encabezadoDatos">Planeta</p>
        <p class="datosFinal"> {{personajeSolo.originPlanet.name}} </p>
        <img class="imgPlaneta" src="{{personajeSolo.originPlanet.image}}" alt="{{personajeSolo.originPlanet.name}}"  [routerLink]="['/planetas', personajeSolo.originPlanet.id]">
      </div>
    </div>
    <div class="botones">
      <div *ngFor="let transformacion of transformaciones; let i = index">
        <button class="btn btn-danger mb-4" (click)="cambiarDatos(i)"> {{transformacion.name}} </button>
      </div>
      <button class="btn btn-danger" (click)="resetear()">Personaje original</button>
    </div>
</div>
