h1 {
  margin-bottom: 2%;
  font-size: 150px;
  text-align: center;
  font-weight: 900;
  color: rgb(255, 234, 0);
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
}

.accordion {
  width: 35%;
  margin-bottom: 5%;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion-item{
  background-color: antiquewhite;
  width: 70%;
}

.accordion-button {
  font-size: 1.5rem;
  text-align: center;
  height: 2.5rem;;
}

label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 900;
  color: rgb(255, 234, 0);
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
}

input {
  margin-bottom: 4%;
}

.btn-filtro {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  gap: 5%;
}

.btn-buscar, .btn-borrar {
  width: 6rem;
}

button, .btn-buscar .btn-borrar {
  border-radius: 15px;
}


.listaPlanetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.planeta {
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
  margin: 2%;
  width: 300px; /* ancho de cada planeta */
}

  .planeta img {
  width: 100%; /* la imagen ocupa el 100% del contenedor (planeta) */
  height: auto;
  transform: filter 0.3s;
}
  .planeta:hover img {
  filter: sepia(100%);
}

.nombrePlaneta {
  font-size: 2.5rem;
  color: rgb(255, 0, 0);
  font-weight: 900;
  text-align: center; /* Centra el texto horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el nombre del planeta tanto vertical como horizontalmente */
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.planeta:hover .nombrePlaneta {
  opacity: 1;
}

.paginacion {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.paginacion, .span {
  font-weight: 900;
  color: rgb(255, 234, 0);
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
}

.paginacion button {
  border-radius: 15px;
  width: 5%;
}