<h1>PLANETAS</h1>

<div class="listaPlanetas">
  <div class="planeta" *ngFor="let planeta of planetas">
    <img [src]="planeta.image" alt="{{planeta.name}}"  [routerLink]="['/planetas', planeta.id]">
    <span class="nombrePlaneta"> {{planeta.name}} </span>
  </div>
</div>

<div>
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button> 
  <span> Pagina {{ currentPage }} de {{ totalPages }} </span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
