<header  class="cabecera">
  <img class="imgCabecera" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/677b7403-76bf-4871-b1eb-996331c62c03/d4kigaj-dd6e67cc-e4e7-4cfc-858e-e92fc6b52c33.png/v1/fill/w_800,h_157/logo___dragon_ball_manga_chapters_03_by_vicdbz_d4kigaj-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU3IiwicGF0aCI6IlwvZlwvNjc3Yjc0MDMtNzZiZi00ODcxLWIxZWItOTk2MzMxYzYyYzAzXC9kNGtpZ2FqLWRkNmU2N2NjLWU0ZTctNGNmYy04NThlLWU5MmZjNmI1MmMzMy5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.7kksjvfJsOpMOorwGEgMKYj0pXaHUlgP7jkZOVHfKPM" alt="">
</header>

<main>
  <div class="contenedor">
    <div class="personajes">
      <a routerLink="/personajes">
        <img class="imgPersonajes" src="https://fotografias-neox.atresmedia.com/clipping/cmsimages02/2022/08/02/1BAF2418-175D-475D-89FE-1A82E6D26A5B/goku-trunks-vegetta-que-significan-nombres-estos-personajes-dragon-ball_98.jpg?crop=1299,731,x0,y0&width=1900&height=1069&optimize=high&format=webply" alt="ir a personajes" >
      </a>
      <p class="tituloPersonajes">Personajes</p>
    </div>
    <div class="planetas">
      <a routerLink="/planetas">
        <img class="imgPlanetas" src="https://laverdadnoticias.com/__export/1604694233948/sites/laverdad/img/2020/11/06/dragon-ball-super-planeta-natal-saiyajines.png_478486366.png" alt="Ir a planetas">
      </a>
      <p class="tituloPlanetas">Planetas</p>
    </div>   
  </div>
</main>


