/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.elo7.com.br/product/zoom/40F9749/papel-de-parede-esferas-do-dragao-dragon-ball-adesivo-papel-de-parede-esferas-do-dragao.jpg');
  background-repeat: repeat;
  background-size: cover;
}