<div *ngFor="let planeta of datosPlaneta">
  <h1> {{planeta.name}} </h1>
  <div class="contenedorPrincipal">
    <img class="imgPlaneta" src="{{planeta.image}}" alt="{{planeta.name}}">
    <div class="datosCaja">

      <div>
        <p class="encabezadoDatos">Nombre</p>
        <p class="datosFinal"> {{planeta.name}} </p>
      </div>

      <div>
        <p class="encabezadoDatos">Descripcion</p>
        <p class="datosFinal"> {{planeta.description}} </p>
      </div>

      <div *ngIf="planeta.isDestroyed">
        <p class="encabezadoDatosDestroyed">¡¡¡ Está destruido !!!</p>
      </div>
    </div>
  </div>
//TODO crear carrusel para mostrar personajes
  <p class="tituloPersonajes">Personajes de este planeta</p>
  <div class="nombrePersonajes">
    <div class="cajaNombres">
      <div *ngFor="let personaje of unPlaneta?.characters">
        <p class="pNombre" 
          [routerLink]="['/personajes', personaje.id]"
          (mouseenter)="mostrarImagenPersonaje(personaje.name)"
          (mouseleave)="ocultarImagenPersonaje()">
          {{personaje.name}}
        </p>
      </div>
    </div>
  </div>
    <div class="cajaPersonajes" >
      <div *ngFor="let personaje of unPlaneta?.characters">
        <img class="imgPersonaje" src="{{personaje.image}}" alt="{{personaje.name}}">
      </div>
    </div>

</div>